/* =============================
           Styling Sheet 
============================== */

/*! Universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

/*TODO root */
:root {
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(0, 0, 0);
    --border-color: rgb(207, 203, 203);
    --format-color: red;
}

/*! for smooth scroll */
html {
    scroll-behavior: smooth;
}

/*! section height */
section {
    height: 100vh;
    scroll-snap-align: start;
}


/*=============================
MAIN STYLING START    
=============================*/


/* ==============================
             Home 
===============================*/
#home {
    scroll-snap-align: start;
    background: #283048;
    background: -webkit-linear-gradient(to top, #859398, #283048);
    background: linear-gradient(to top, #859398, #283048);
    background-attachment: fixed;
}

.home-container {
    width: 100vw;
    position: fixed;
    top: 25px;
    z-index: 1;
}

.nav-container {
    width: 75%;
    display: flex;
    margin: 0 auto;
    padding: 1.3em;
    align-items: center;
    text-align: center;
    border-radius: 1.5em;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-left {
    height: 2rem;
    display: grid;
    margin-left: .5em;
    place-items: center;
}

.nav-left a {
    font-size: 2.5rem;
    font-weight: 400;
    color: transparent;
    font-style: normal;
    background-clip: text;
    font-optical-sizing: auto;
    background-position: center;
    font-family: "Ruslan Display", sans-serif;
    background-image: url(https://thumbs.dreamstime.com/b/dynamic-clash-vibrant-blue-orange-lightning-bolts-against-dark-background-symbolizes-energy-power-digital-art-abstract-natural-385460465.jpg);
}

.nav-items {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    color: var(--primary-text-color);
}

.nav-links {
    font-size: 1.1em;
    margin: 0 2em 0 2em;
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-items li:nth-child(6) {
    padding: .8em 0;
    cursor: pointer;
    list-style: none;
    margin-right: 1em;
    border-radius: 1.5em;
    text-decoration: none;
    transition: background-color 0.3s ease;
    background-color: var(--primary-text-color);
}

.nav-items li:nth-child(6) a {
    font-weight: 500;
    text-decoration: none;
    color: var(--secondary-text-color);
}
/* home end */


/* ================================
             About
================================ */
#about {
    scroll-snap-align: center;
    background: #E6DADA;
    background: -webkit-linear-gradient(to top, #274046, #E6DADA);
    background: linear-gradient(to top, #274046, #E6DADA);
}

.about-container {
    width: 80%;
    margin: auto;
    height: 100vh;
    display: flex;
    text-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.profile {
    max-width: 42%;
}

.profile-image {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 48%;
    border: 2px solid var(--border-color);
   
}

.about-content {
    padding: 2em;
    max-width: 52%;
}

.about-content h1,
h2 {
    font-size: 3rem;
    margin-bottom: .1em;
    color: var(--primary-text-color);
    font-family: Tahoma, Geneva, Verdana, sans-serif;

}

.about-content h3 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: .4em;
    color: var(--primary-text-color);
}

.about-content p {
    color: var(--primary-text-color);
    font-size: 1.3rem;
    margin-bottom: 2em;
    line-height: 1.4;
}

.about-content .btn {
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    text-decoration: none;
    list-style: none;
    border: none;
    padding: 24px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.icon-spacing {
    margin-right: 1em;
}

.about-content .btn:hover {
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
}

/* ================================
             Skills
================================ */
#skills {
    scroll-snap-align: start;
    background: #948E99;
    background: -webkit-linear-gradient(to top, #2E1437, #948E99);
    background: linear-gradient(to top, #2E1437, #948E99);
    background-attachment: fixed;
}

.skills-container {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    border: 2px dashed var(--format-color);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    display: inline-grid;
}

.skills-container h2 {
    text-align: center;
    margin: .2em 0;
    color: var(--primary-text-color);
    font-size: 2.5rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.skill-item {
    width: fit-content;
    display: flex;
    padding: 1em;
    gap: 1em;
    place-items: center;
    justify-content: space-between;
    border: 2px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0.2);
}

.skill-item h3 {
    font-size: 1.5rem;
    margin: 0;
}

.light-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #0f0f0f;
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
}


.light-button button.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-button button.bt:hover .light-holder {
    background: linear-gradient(180deg,
            rgba(88, 101, 242, 1) 0%,
            rgba(255, 255, 255, 0) 75%,
            rgba(255, 255, 255, 0) 100%);
}