/* =============================
           Styling Sheet 
============================== */

/*! Universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*TODO root */
:root {
    --format-color: red;
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(0, 0, 0);
    --role-color: rgb(143, 149, 106);
    --border-color: rgb(163, 163, 163);
    --bg-transparent-color: rgba(0, 0, 0, 0.5)
}

/*! for smooth scroll */
html {
    scroll-behavior: smooth;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(Image/bg.jpg);
}

/*=============================
MAIN STYLING START    
=============================*/


/* ==============================
             Home 
===============================*/
#home {
    scroll-snap-align: start;
    

}

.home-container {
    max-width: 100%;
    height: 80vh;
    display: flex;
    margin-top: 6rem;
    align-items: center;
    background: transparent;
    justify-content: center;
}

.nav-container {
    top: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    padding: .3em;
    position: fixed;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.nav-container.scrolled {
  background-color: var(--secondary-text-color);
}

.nav-left {
    height: 4rem;
    display: flex;
    align-items: center;
    margin-left: .5em;
    /* border: 2px solid var(--format-color); */
}

.nav-left a {
    filter: sepia(1);
    font-weight: 400;
    padding-top: .2em;
    font-size: 2.5rem;
    color: transparent;
    font-style: normal;
    background-clip: text;
    font-optical-sizing: auto;
    background-position: center;
    font-family: "Ruslan Display", sans-serif;
    background-image: url(https://thumbs.dreamstime.com/b/glow-fire-abstract-background-illustration-warm-inviting-image-shapes-colors-movement-glow-fire-abstract-background-glow-fire-372070061.jpg);
}

.nav-right {
    margin-right: 4rem;
}

.nav-items {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
}

.nav-links {
    margin: 0 2em;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-page {
    display: flex;
}

.home-headline {
    margin: 3.5em;
    width: 100%;
    text-wrap: wrap;
}

.home-title {
    font-size: 4rem;
    margin-bottom: .1em;
    color: var(--primary-text-color);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.role::before {
    filter: sepia(1);
    font-style: normal;
    color: transparent;
    background-clip: text;
    font-optical-sizing: auto;
    background-position: center;
    transition: opacity 4s ease;
    content: "Front-end Developer";
    animation: revealrole 5s ease infinite;
    background-image: url(https://thumbs.dreamstime.com/b/glow-fire-abstract-background-illustration-warm-inviting-image-shapes-colors-movement-glow-fire-abstract-background-glow-fire-372070061.jpg);
}

@keyframes revealrole {
    0% {
        opacity: 1;
    }

    20% {
        content: "Front-end Developer";
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0;
        content: "Software Developer";
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.home-headline p {
    width: 70%;
    line-height: 1.4;
    font-size: 1.3rem;
    margin-bottom: 3em;
    color: var(--primary-text-color);
    font-family: 'Times New Roman', Times, serif;
}

.home-headline .btn {
    border: none;
    padding: 24px;
    cursor: pointer;
    list-style: none;
    border-radius: 8px;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: background-color 1.2s ease;
    background-color: var(--secondary-text-color);
}

.home-headline .btn:hover {
    color: var(--secondary-text-color);
    background-color: var(--primary-text-color);
}

.icon-spacing {
    margin: 1em;
}

.home-headline :nth-child(4) {
    margin-left: 1.5em;
    background-color: transparent;
    color: var(--primary-text-color);
    border: 2px solid var(--primary-text-color);
}
/* home end */


/* ================================
             About
================================ */
#about {
    display: flex;
    align-items: center;
    background: transparent;
    justify-content: center;
    scroll-snap-align: center;
  
    /* border: 2px solid var(--format-color); */
}

.about-container {
    width: 85%;
    height: 80vh;
    display: flex;
    margin-top: 4rem;
    border-radius: 3rem;
    align-items: center;
    background: transparent;
    justify-content: space-evenly;
    border: 2px solid var(--border-color);
    background-color: var(--bg-transparent-color);
    /* background-color: var(--bg-transparent-color); */
}

.profile {
    width: auto;
    height: auto;
    object-fit: cover;
}

.profile-image {
    margin: auto;
    height: auto;
    display: block;
    max-width: 60%;
    border-radius: 23%;
    transition: transform 1.2s ease-in-out;
    border: 2px solid var(--border-color);
}

.profile-image:hover {
    transform: scale(1.1);
}

.about-content {
    padding: 2em;
    max-width: 52%;
}

.about-content h3 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: .4em;
    color: var(--primary-text-color);
}


.about-content p {
    line-height: 1.4;
    font-size: 1.3rem;
    margin-bottom: 3em;
    color: var(--primary-text-color);
    font-family: 'Times New Roman', Times, serif;
}

/* about end */


/* ================================
             Skills
================================ */
#skills {
    display: flex;
    align-items: center;
    background: transparent;
    justify-content: center;
    scroll-snap-align: center;
    /* border: 2px solid var(--format-color); */
}

.skills-container {
    width: 85%;
    height: 80vh;
    display: flex;
    margin-top: 4rem;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid var(--border-color);
    /* background-color: var(--bg-transparent-color); */
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    min-width: 100%;
    justify-content: center;
    gap: 1em;
    row-gap: 4rem;
    padding: 1rem;
}

.skill-item {
    width: auto;
    padding: 1em;
    gap: 1em;
    border-radius: 1em;
    place-items: center;
    justify-content: space-between;
    border: 2px solid var(--border-color);
    background-color: rgba(255, 255, 255, .1);
}

.skill-item h3 {
    color: var(--primary-text-color);
    font-size: 1.8rem;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
}

.skill-item img {
    margin: 1rem;
}

/* skills end */


/* ================================
             Projects
================================ */
#projects {
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    justify-content: center;
    background: transparent;
    background-attachment: fixed;
    /* border: 2px solid var(--format-color); */
    background-color: var(--bg-transparent-color);
}

.projects-container {
    width: 85%;
    height: 80vh;
    display: flex;
    margin-top: 4rem;
    border-radius: 3rem;
    align-items: center;
    background: transparent;
    justify-content: center;
    border: 2px solid var(--border-color);
    /* background-color: var(--bg-transparent-color); */

}

/* projects end */


/* ================================
             Educaion
================================ */
#education {
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    justify-content: center;
    background: transparent;
    background-attachment: fixed;
    /* border: 2px solid var(--format-color); */
    background-color: var(--bg-transparent-color);
}

.education-container {
    width: 85%;
    height: 80vh;
    display: flex;
    margin-top: 4rem;
    border-radius: 3rem;
    align-items: center;
    background: transparent;
    justify-content: center;
    border: 2px solid var(--border-color);
    /* background-color: var(--bg-transparent-color); */

}

/* education end */


/* ================================
             gallery
================================ */
#gallery {
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    justify-content: center;
    background: transparent;
    background-attachment: fixed;
    /* border: 2px solid var(--format-color); */
    background-color: var(--bg-transparent-color);
}

.gallery-container {
    width: 85%;
    height: 80vh;
    display: flex;
    margin-top: 4rem;
    border-radius: 3rem;
    align-items: center;
    background: transparent;
    justify-content: center;
    border: 2px solid var(--border-color);
    /* background-color: var(--bg-transparent-color); */

}

/* gallery end */


/* ================================
         contact and support
================================ */
#contact {
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    justify-content: center;
    background: transparent;
    background-attachment: fixed;
    /* border: 3px solid var(--format-color); */
    background-color: var(--bg-transparent-color);
}

.contact-container {
    width: 85%;
    height: 80vh;
    display: flex;
    margin-top: 4rem;
    border-radius: 3rem;
    align-items: center;
    background: transparent;
    justify-content: center;
    border: 32x solid var(--border-color);
    /* background-color: var(--bg-transparent-color); */

}